{{!-- 公共head --}}
<title>{{title}}</title>
<meta charset="utf-8">
{{!-- DNS预解析 --}}
{{!-- <link rel="dns-prefetch" href=""> --}}
{{!-- <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"> --}}
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="renderer" content="webkit">
<meta name="description" content="{{description}}">
<meta name="keyword" content="{{keyword}}">
<link rel="icon" href="/img/common/favicon.ico" type="image/x-icon">
<link rel="shortcut icon" href="/img/common/favicon.ico" type="image/x-icon">

<meta name="keywords" content="{{keywords}}">
<meta name="description" content="{{description}}">
<meta name="author" content="Jimmy.Zhuang">

<!--common-->
<link href="/css/common.css" rel="stylesheet">