<!DOCTYPE html>
<html>
<head>
	{{> globel/head}}
	{{{_sections.css}}}
</head>
<body class="horizontal-menu-page">
	<section>
		{{!-- header section start --}}
		{{> globel/header-full}}
		{{!-- header section end --}}

		{{!-- header-sub section start --}}
		{{{_sections.headerSub}}}
		{{!-- header-sub section end --}}

		{{!-- body wrapper start --}}
		<div id="wrapper" class="wrapper">
			{{{body}}}
		</div>
		{{!-- body wrapper end --}}

		{{!-- footer section start --}}
		{{> globel/footer-full}}
		{{!-- footer section end --}}
	</section>
	{{> globel/script}}
	<script>
	var _USER_ = '{{{config.userStr}}}';
	_USER_ = MJJS.json.parse(_USER_);
	</script>
	{{{_sections.js}}}
</body>
</html>